In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('IMDb movies.csv')

C:\Users\leolk\AppData\Local\Temp\ipykernel_23276\1681763851.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('IMDb movies.csv')

In [4]:
df.head(2)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0

In [33]:
actors = df[['imdb_title_id','genre']]

In [34]:
aux = actors['genre'].str.split(',', expand=True)

In [35]:
for i in list(aux.columns):
    actors[i] = aux[i]

C:\Users\leolk\AppData\Local\Temp\ipykernel_23276\2524058213.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actors[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_23276\2524058213.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actors[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_23276\2524058213.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actors[i] = aux[i]

In [36]:
lista = list(aux.columns)

In [37]:
actors = actors.melt(id_vars=['imdb_title_id'], value_vars=lista, value_name='genre')

C:\Users\leolk\AppData\Local\Temp\ipykernel_23276\3870907353.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  actors = actors.melt(id_vars=['imdb_title_id'], value_vars=lista, value_name='genre')

In [38]:
actors = actors.drop(columns=['variable']).dropna()

In [41]:
actors.head(2)

  imdb_title_id      genre
0     tt0000009    Romance
1     tt0000574  Biography

In [39]:
actors.to_csv('genre.csv')