<div>
<p ><img  align="right" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/aj29iemt0ogdyrdlksd4" height="160px"></p>
</div>

<br>
<br>

# **Aula 03 - Funções do Pandas - Parte II**

**Funções**
* **reset_index**: Redefina os índices.
* **select_dtypes**: Retorna um subconjunto das colunas do DataFrame com base nos tipos de coluna.
* **drop**: Remove linhas ou colunas.
* **assign**: Atribue novas colunas a um DataFrame.
* **astype**: Converta um objeto pandas para um tipo especificado.
* **value_counts**: Retorna uma série contendo contagens de linhas exclusivas no DataFrame.
<br>
<br>
___

**Importação da Biblioteca**

In [1]:
import pandas as pd

**DataFrame** é uma estrutura de dados tabulares bidimensionais, mutáveis ​​em tamanho e potencialmente heterogêneos.

A estrutura de dados também contém eixos rotulados (linhas e colunas).

```
pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)
```

In [2]:
dicionario = {'Nome': ['Pedro', 'Ana', 'Karina', 'Patricia', 'Carlos', 'Felipe', 'José', 'Gustavo', 'Fernando'],
              'Idade': [20, 21, 19, 18, 23, 21, 27, 30, 22]
                 }

In [9]:
df = pd.DataFrame(dicionario)

In [10]:
df.head()

       Nome  Idade
0     Pedro     20
1       Ana     21
2    Karina     19
3  Patricia     18
4    Carlos     23

In [11]:
df.rename(index={0: 'x', 1: 'y', 2: 'z'}, inplace=True)

In [12]:
df.head()

       Nome  Idade
x     Pedro     20
y       Ana     21
z    Karina     19
3  Patricia     18
4    Carlos     23

In [13]:
df.reset_index(inplace=True, drop=True)

In [14]:
df.head()

       Nome  Idade
0     Pedro     20
1       Ana     21
2    Karina     19
3  Patricia     18
4    Carlos     23

In [15]:
df.dtypes

Nome     object
Idade     int64
dtype: object

In [16]:
df['Idade'] = df['Idade'].astype(float)

In [17]:
df.head()

       Nome  Idade
0     Pedro   20.0
1       Ana   21.0
2    Karina   19.0
3  Patricia   18.0
4    Carlos   23.0

In [18]:
df.dtypes

Nome      object
Idade    float64
dtype: object

In [20]:
df['Idade'].value_counts()

21.0    2
20.0    1
19.0    1
18.0    1
23.0    1
27.0    1
30.0    1
22.0    1
Name: Idade, dtype: int64

In [24]:
df = df.assign(Nova_Idade=df['Idade'] * 2)

In [25]:
df.head()

       Nome  Idade  Nova_Idade
0     Pedro   20.0        40.0
1       Ana   21.0        42.0
2    Karina   19.0        38.0
3  Patricia   18.0        36.0
4    Carlos   23.0        46.0

In [26]:
df['X'] = df['Nova_Idade'] - 20

In [27]:
df.head()

       Nome  Idade  Nova_Idade     X
0     Pedro   20.0        40.0  20.0
1       Ana   21.0        42.0  22.0
2    Karina   19.0        38.0  18.0
3  Patricia   18.0        36.0  16.0
4    Carlos   23.0        46.0  26.0

In [28]:
df.select_dtypes(include='number')

   Idade  Nova_Idade     X
0   20.0        40.0  20.0
1   21.0        42.0  22.0
2   19.0        38.0  18.0
3   18.0        36.0  16.0
4   23.0        46.0  26.0
5   21.0        42.0  22.0
6   27.0        54.0  34.0
7   30.0        60.0  40.0
8   22.0        44.0  24.0

In [29]:
df.select_dtypes(include='object')

       Nome
0     Pedro
1       Ana
2    Karina
3  Patricia
4    Carlos
5    Felipe
6      José
7   Gustavo
8  Fernando

In [31]:
df.select_dtypes(include='number').columns

Index(['Idade', 'Nova_Idade', 'X'], dtype='object')

In [32]:
df.drop(['Nova_Idade', 'X'], inplace=True, axis=1)

In [33]:
df.head()

       Nome  Idade
0     Pedro   20.0
1       Ana   21.0
2    Karina   19.0
3  Patricia   18.0
4    Carlos   23.0

In [34]:
df.drop([2, 3], inplace=True, axis=0)

In [35]:
df.head()

     Nome  Idade
0   Pedro   20.0
1     Ana   21.0
4  Carlos   23.0
5  Felipe   21.0
6    José   27.0

In [36]:
df.reset_index(inplace=True, drop=True)

In [37]:
df.head()

     Nome  Idade
0   Pedro   20.0
1     Ana   21.0
2  Carlos   23.0
3  Felipe   21.0
4    José   27.0