###### Os dados desse exercício fazem parte de um conjunto de dados sobre pessoas sem moradia em estados dos EUA.

##### Exercício 1 - Importe o dataset dados.csv e salve com o nome df

In [1]:
import pandas as pd

In [9]:
# Link Compartilhavel do Google Drive
url='https://drive.google.com/file/d/1bU-TshQPFkMZaoRHAzq2w43zfB08xrjH/view?usp=share_link'

#ajuste da URL
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

##### Exercício 2 - Imprima as primeiras e as últimas linhas desse dataset

In [10]:
df.head()

,Unnamed: 0,regiao,estado,individuos,membros_da_familia,populacao_do_estado
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588

In [11]:
df.tail()

,Unnamed: 0,regiao,estado,individuos,membros_da_familia,populacao_do_estado
46,46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,47,Pacific,Washington,16424.0,5880.0,7523869
48,48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,50,Mountain,Wyoming,434.0,205.0,577601

Observação: A coluna individuos refere-se a pessoas sem moradia.

##### Exercício 3 - Elimine a coluna " Unnamed: 0"

In [12]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [13]:
df.head()

,regiao,estado,individuos,membros_da_familia,populacao_do_estado
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588

**Exercício 4 - Crie uma nova coluna chamada total que é a soma das colunas  individuos e membros_da_familia**

In [14]:
df['total']=df['individuos']+df.membros_da_familia
df.head()

,regiao,estado,individuos,membros_da_familia,populacao_do_estado,total
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0
1,Pacific,Alaska,1434.0,582.0,735139,2016.0
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0
4,Pacific,California,109008.0,20964.0,39461588,129972.0

**Exercício 5 - Crie a coluna prop_individuos como uma  proporção de indivíduos em relação a coluna total que você criou anteriormente**

In [15]:
df['prop_individuos'] = df.individuos / df.total
df.head()

,regiao,estado,individuos,membros_da_familia,populacao_do_estado,total,prop_individuos
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0,0.748398
1,Pacific,Alaska,1434.0,582.0,735139,2016.0,0.711310
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0,0.735834
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0,0.840708
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.838704

**Exercício 6 - Imprima as primeiras linhas das colunas *individuos*, *total* e *prop_individuos***

In [16]:
df[['individuos','total','prop_individuos']].head()

   individuos     total  prop_individuos
0      2570.0    3434.0         0.748398
1      1434.0    2016.0         0.711310
2      7259.0    9865.0         0.735834
3      2280.0    2712.0         0.840708
4    109008.0  129972.0         0.838704

**Exercício 7  - Qual estado tem o maior número de pessoas sem moradia por 10.000 pessoas ?**

Para responder siga os passos:


- Crie uma coluna, chamada indiv_por_10k, contendo o número de pessoas sem-teto(individuos) por dez mil pessoas em cada estado.

Fórmula = 10000 * df['individuos'] / df['populacao_do_estado']

- Depois filtre as linhas tais que indiv_por_10k seja  maior que 20
- Classifique os altos níveis de falta de moradia ordenando os dados em ordem decrescente pela coluna indiv_per_10k
- selecione as colunas estado e indiv_por_10k e imprima o rsultado

In [20]:
# Crie indiv_por_10k col como moradores de rua por pop de 10k de cada estado
df['indiv_por_10k'] = 10000*df.individuos/df.populacao_do_estado

In [22]:
# Depois filtre as linhas tais que indiv_por_10k seja  maior que 20
df_10k = df[df.indiv_por_10k>20]

In [25]:
# Classifique os altos níveis de falta de moradia ordenando os dados em ordem decrescente pela coluna indiv_per_10k
df_10k.sort_values(by=['indiv_por_10k'],ascending=False,inplace=True)

<ipython-input-25-1866ae0c1d15>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_10k.sort_values(by=['indiv_por_10k'],ascending=False,inplace=True)

In [26]:
# selecione as colunas estado e indiv_por_10k e imprima o resultado
df_10k[['estado','indiv_por_10k']]

                  estado  indiv_por_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363