Para entender melhor os objetos DataFrame, é útil saber que eles consistem em três componentes, armazenados como atributos:

- .values: Uma matriz bidimensional de valores.
- .columns: Um índice de colunas: os nomes das colunas.
- .index: Um índice para as linhas: números de linha ou nomes de linha.

##### Exercício 1 - Importe o dataset walmart_vendas.csv e salve com o nome vendas

In [ ]:
import pandas as pd

In [2]:
# Link Compartilhavel do Google Drive
url='https://drive.google.com/file/d/1EM_Z8kGitUXQkHo8Dps-AOmkzsdaJwxe/view?usp=share_link'

#ajuste da URL
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

##### Exercício 2 - Imprima as primeiras e as últimas linhas desse dataset

In [3]:
df.head(2)

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.5,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.9,False,8.055556,0.693452,8.106

In [4]:
df.tail(2)

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
10772,10772,39,A,99,2012-07-13,0.06,False,25.644444,0.860145,6.623
10773,10773,39,A,99,2012-10-05,915.00,False,22.250000,0.955511,6.228

##### Exercício 3 - Elimine a coluna " Unnamed: 0"

In [11]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [12]:
df.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

**Exercício 4 -Imprima os valores desse dataframe**

In [14]:
df.values

array([[1, 'A', 1, ..., 5.727777777777779, 0.6794508388787476, 8.106],
       [1, 'A', 1, ..., 8.055555555555555, 0.693451964252221, 8.106],
       [1, 'A', 1, ..., 16.81666666666667, 0.718284148876872, 7.808],
       ...,
       [39, 'A', 99, ..., 27.28888888888889, 0.911922354513778, 6.989],
       [39, 'A', 99, ..., 25.64444444444444, 0.8601446078496121,
        6.622999999999999],
       [39, 'A', 99, ..., 22.25, 0.955510763695346, 6.228]], dtype=object)

**Exercício 5 - Imprima as colunas desse dataframe**

In [15]:
df.columns

Index(['store', 'type', 'department', 'date', 'weekly_sales', 'is_holiday',
       'temperature_c', 'fuel_price_usd_per_l', 'unemployment'],
      dtype='object')

**Exercício 6 - Imprima as linhas desse dataframe**

In [16]:
df.index

RangeIndex(start=0, stop=10774, step=1)

**Exercício 7  - Crie um novo dataframe classificando-o em ordem crescente pela coluna *weekly_sales***

In [20]:
df_weekly_sales = df.sort_values(by=['weekly_sales'], ascending=False)

**Exercício 8  - Veja as primeiras linhas desse novo dataframe:**

In [21]:
df_weekly_sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
6201,14,A,92,2010-02-05,293966.05,False,-2.605556,0.735455,8.992
4271,10,B,72,2010-02-05,232558.51,False,12.411111,0.782478,9.765
4281,10,B,72,2010-12-03,218559.54,False,10.650000,0.803348,9.003
6202,14,A,92,2010-03-05,214383.07,False,2.850000,0.733606,8.992
6237,14,A,95,2010-02-05,213042.66,False,-2.605556,0.735455,8.992

**Exercício 9 - Ordene o dataframe original pela coluna *temperature_c* em ordem decrescente e imprima as primeiras linhas**

In [22]:
df_temperature_c = df.sort_values(by=['temperature_c'])
df_temperature_c.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
4554,13,A,5,2011-01-07,40634.34,False,-8.366667,0.763722,7.47
4602,13,A,9,2011-01-07,19136.34,False,-8.366667,0.763722,7.47
4842,13,A,30,2011-01-07,3452.11,False,-8.366667,0.763722,7.47
5076,13,A,52,2011-01-07,3526.53,False,-8.366667,0.763722,7.47
4830,13,A,29,2011-01-07,6069.02,False,-8.366667,0.763722,7.47

**Exercício 10 -Selecione somente a  coluna *unemployment* salve com o nome subdf e veja as primeiras linhas**

In [23]:
subdf = df[['unemployment']]
subdf.head()

   unemployment
0         8.106
1         8.106
2         7.808
3         7.808
4         7.808

**Exercício 11 -  Filtre por linhas os valores de weekly_sales forem maiores que 20000 e chame de weekly_sales_20k e imprima as primeiras linhas**

In [24]:
weekly_sales_20k = df[df['weekly_sales']>20000]

In [25]:
weekly_sales_20k.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
8,1,A,1,2010-10-01,20094.19,False,22.161111,0.687640,7.838
9,1,A,1,2010-11-05,34238.88,False,14.855556,0.710359,7.838